body {
    font-family: "Open Sans", serif;
}

textarea {
    font-family: "monospace";
    width: 400px;
    height: 400px;
}

#graphviz_code,
#svg_container {
    display: none;
}

container {
    display: flex;
}

div {
    flex: 0 1;
}

a {
    color: #999;
}

.topology li {
    list-style-type: none;
    font-size: 14px;
    margin-left: -3em;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 0 0;
    text-decoration: underline;
    text-transform: capitalize;

}

.header {
    font-size: 30px;
    margin-bottom: 20px;
}

.instruction {
    margin: 10px;
}