body {
    font-family: "Open Sans", serif;
}

textarea {
    font-family: "monospace";
    width: 400px;
    height: 400px;
}

#graphviz_code,
#svg_container {
    display: none;
}

container {
    display: flex;
    margin-top: 2em;
}

div {
    flex: 0 1;
}

a {
    color: #999;
}

.topology {
    width: 200px;
}

.topology li {
    font-size: 14px;
    margin-left: -2em;
    margin-bottom: 5px;
    margin-right: 10px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
}

.header {
    font-size: 30px;
    margin-bottom: 20px;
}

.snippet {
    font-size: 20px;
    margin-bottom: 20px;
}

.instruction {
    margin: 10px;
}
